<h1 mat-dialog-title>Add product</h1>

<div mat-dialog-content>

    <div>

        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Item Name</mat-label>
            <input matInput placeholder="Ex. apple" >
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Item Catgeory</mat-label>
            <mat-select placeholder="catgeory" >
                <mat-option value="fruits">fruits</mat-option>
                <mat-option value="vegetable">vegetable</mat-option>
                <mat-option value="electronic">electronic</mat-option>
                <mat-option value="household">household</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Custom calendar header</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </form>

    </div>

     

</div>