<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Product Inventory </span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <button mat-raised-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
      (click)="openDialog()">
      Add new Product
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>

<div class="conatiner">
  
</div>