<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div>
                <mat-card>
                    <form>
                        <div class="example-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Enter your email</mat-label>
                              <input matInput placeholder="pat@example.com" required>
                              <mat-error ></mat-error>
                            </mat-form-field>
                          </div>
                    </form>
                </mat-card>
            </div>
        </div>
        <div class="col-md-9">

        </div>
    </div>
</div>
